$inlinecard--border-radius: 0 !default;
$inlinecard--border-width: 0 !default;
$inlinecard--border-color: #dcdcdc !default;
$inlinecard--background-color: #dcdcdc !default;
$inlinecard--background-color-hover: #3972c6 !default;
$inlinecard--padding: 20px !default;
$inlinecard--color: #000 !default;
$inlinecard--color-hover: #fff !default;
$inlinecard--box-shadow: none !default;
$inlinecard--flex: (
  'direction': (
    'default': column,
    'md': row,
  ),
  'wrap': nowrap,
  'grow': 0,
  'align': (
    'default': stretch,
    'md': center,
  ),
  'gutter': 20px,
) !default;

$inlinecard-image--object-fit: contain !default;
$inlinecard-image--border-width: 0 !default;
$inlinecard-image--border-color: #f00 !default;
$inlinecard-image--border-radius: 0 !default;
$inlinecard-image--background-color: #fff !default;
$inlinecard-image--width: (
  'default': auto,
  'md': 300px,
) !default;
$inlinecard-image--padding: (
  'default': 5px,
  'md': 10px,
) !default;
$inlinecard-image--ratio: (
  'default': 16 / 9,
  'sm': 1,
) !default;
